{% extends "frontend/frontend.html" %}

{% block contenu %}
<!DOCTYPE HTML>

<html>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">





                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>

								</section>


                                                        							<!-- Content -->
								<section>

									<span class="image main"><img src="img/clientes.png" alt="" /></span>
									<span class="image main"><img src="img/grapsico.jpg" width="80%" height="80%" /></span>


								</section>




						</div>
					</div>


			</div>



	</body>
</html>{% endblock %}
