{% extends "frontend/frontend.html" %}

{% block contenu %}
<!DOCTYPE HTML>

<html>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>M.O.P.</strong> </br>Marketing Optimization Process</a>
									<ul class="icons">
                                                                            <br><span class="icon-Innovamars"></span></br>

										<li><a href="#" class="icon fa-home"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-bell-o"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-comments"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon fa-cog"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-power-off"><span class="label">Medium</span></a></li>


                </span>
									</ul>
								</header>



                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="img/interacion.png" alt="" /></a>
											<h3>Redución de interacción con la marca</h3>
											<p>Los usuarios están interactuando menos con su marca.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="img/usuariosactivos.png" alt="" /></a>
											<h3>Mejore sus mensajes</h3>
											<p>Sus usuarios interactuan 12 segundos con los mensajes que publicas. Lo óptimo son 1 minuto.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="img/13.jpg" alt="" /></a>
											<h3>Mundial</h3>
											<p>En google se busca información sobre el Mundial, deberías publicar temas relacionados Mundial y DLT e Inteligencia Artificial.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/2.png" alt="" /></a>
											<h3>Posicionamiento de marca</h3>
											<p>Su huella digital a disminuido en un 87%.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>

									</div>
								</section>


                                                        							<!-- Content -->
								<section>
									<header class="main">
										<h1>Visión general</h1>
									</header>

									<span class="image main"><img src="img/entrada.png" alt="" /></span>


								</section>




						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html">Home</a></li>

                                                                                <li><a href="posicionamiento.html">Posicionamiento internet</a></li>
                                                                                <li><a href="tendencias.html"></a>Reconocimiento tendencias</li>
                                                                                <li><a href="paginaweb.html"></a>Revisión página web</li>
                                                                                <li><a href="visitantes.html"></a>Analítica visitantes </li>
                                                                                <li><a href="clientes.html"></a>Búsqueda potenciales clientes</li>
                                                                                <li><a href="canales.html"></a>Búsqueda canales de comunicación</li>
                                                                                <li><a href="mensajes.html"></a>Efectividad mensaje de ventas</li>
                                                                                <li><a href="competencia.html"></a>Monitoreo competencia</li>
                                                                                <li><a href="configuracion.html">Configuración</a></li>

									</ul>
								</nav>



							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; All rights reserved. Demo <a href="https://innovamars.com">M.O.P.</a>. Design: <a href="https:/innovamars.com">InnovaMars Tech S.A.</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>{% endblock %}
