{% extends "frontend/frontend.html" %}

{% block contenu %}

<!DOCTYPE HTML>

<html>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">




                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>
									<div class="posts">
										<span class="image main"><img src="img/mensaje.png" alt="" /></span>

									</div>
								</section>


                                                        							<!-- Content -->
								<section>
									<header class="main">
										<h1>Visión general</h1>
									</header>

									<span class="image main"><img src="img/entrada.png" alt="" /></span>


								</section>




						</div>
					</div>

				<!-- Sidebar -->

			</div>

	
	</body>
</html>
{% endblock %}
