{% extends "frontend/frontend.html" %}

{% block contenu %}
<!DOCTYPE HTML>

<html>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							



                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>
								<span class="image main"><img src="img/velocidadpag.png" alt="" /></span>
								</section>


                                                        							<!-- Content -->
								<section>

									<span class="image main"><img src="img/seo1.png" alt="" /></span>
                                    <span class="image main"><img src="img/seo3.png" alt="" /></span>
									<span class="image main"><img src="img/seo2.png" alt="" /></span>
									<span class="image main"><img src="img/seo4.png" alt="" /></span>



								</section>




						</div>
					</div>



			</div>


	</body>
</html>
{% endblock %}
