{% extends "frontend/frontend.html" %}

{% block contenu %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>M.O.P.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
                <link rel="stylesheet" href="demo-files/demo.css">
                <link rel="stylesheet" href="style.css"></head>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>

                                                                    Su marca está posicionada en ingeniería en inteligencia artificial y DLT.</br></br>
                                                                    <span class="image main"><img src="img/visitaspag.png" alt="" /></span>
                                                                    <div class="posts">
										<article>
											<a href="#" class="image"><img src="img/interacion.png" alt="" /></a>
											<h3>Redución de interacción con la marca</h3>
											<p>Los usuarios están interactuando menos con su marca.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>


										<article>
											<a href="#" class="image"><img src="images/2.png" alt="" /></a>
											<h3>Posicionamiento de marca</h3>
											<p>Su huella digital a disminuido en un 87%.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>

									</div>
								</section>


                                                        							<!-- Content -->





						</div>
					</div>

		

			</div>



	</body>
</html>
{% endblock %}
