{% extends "frontend/frontend.html" %}

{% block contenu %}
<!DOCTYPE HTML>

<html>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">





                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>
								<span class="image main"><img src="static/img/interacion.png" alt="" /></span>
								</section>


                                                        							<!-- Content -->
								<section>


									<span class="image main"><img src="static/img/meta.png" alt="" /></span>
									<span class="image main"><img src="static/img/velocidad.png" alt="" /></span>
									<span class="image main"><img src="static/img/tex-html.png" alt="" /></span>
									<span class="image main"><img src="static/img/img-seo.png" alt="" /></span>



								</section>




						</div>
					</div>



			</div>


	</body>
</html>
{% endblock %}
