{% extends "frontend/frontend.html" %}

{% block contenu %}
<!DOCTYPE HTML>

<html>

	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">



                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="img/one.jpg" alt="" /></a>
											<h3>Futbol</h3>
											<p>Los usuarios están interactuando con temas de futbol.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="img/tren1.png" alt="" /></a>
											<h3>Champions</h3>
											<p>En el mes de mayo el 68% de las busquedas fue sobre champions.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>


									</div>
								</section>

							<a target="_blank" href="{{ url_for('google') }}" class="button">Ver mas informacion</a>






						</div>
					</div>


			</div>


	</body>
</html>
{% endblock %}
