{% extends "frontend/frontend.html" %}

{% block contenu %}
<!DOCTYPE HTML>

<html>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">



                                                        <!-- Section -->
								<section>
									<header class="major">
										<h2>DATOS RELEVANTES</h2>
									</header>
									<div class="posts">


									</div>
								</section>


                                                        							<!-- Content -->
								<section>


								<span class="image main"><img src="img/entrada.png" alt="" /></span>
                                                                <span class="image main"><img src="img/interacion.png" alt="" /></span>
                                                                    <span class="image main"><img src="img/usuariosactivos.png" alt="" /></span>


								</section>




						</div>
					</div>


			</div>


	</body>
</html>
{% endblock %}
