{% extends "inicio/inicio.html" %}

{% block contenu %}
<img width="10%" height="10%" src="static/img/logo.png">
<h5 align="center">
    <input type="button" onclick="location.href='inicio';" value="Soy proveedor" style='width:350px; height:40px'/>
    <br></br>    
    <input type="button"  onclick="location.href='login';" value="Soy compras" style='width:350px; height:40px'/>
    <br></br>    
    <input type="button"  onclick="location.href='loginotros';" value="Soy calidad/contabilidad" style='width:350px; height:40px'/>
</h5>

{% endblock %}


